*{
    margin: 0px;
    padding: 0px;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: #1A1244;
    padding: 10px 100px;
    border-bottom: 4px solid #401E63;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    margin: 10px 5px;
}
nav ul li a{
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 10px 20px;
    transition: 0.5s;
}
nav ul li a:hover{
    background-color: black;
    color: red;
    border-radius: 5px;
}
nav div{
    color: white;
    font-size: 20px;
}

/* hero area code start here */

header{
    background-image: url('Images/website banner.jpg');
    padding: 200px 0px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.searchBox-icon-parent{
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchBox-icon-parent i{
    color: red;
    background-color: green;
    font-size: 25px;
    height: 40px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    margin-left: -10px;
}
.searchBox-icon-parent input{
    width: 300px;
    height: 40px;
    border-radius: 5px;
    padding: 5px 20px;
    font-size: 20px;
}

/* main section code start here */

main{
    background-color: #2D236A;
    padding-top: 20px;
}
#main-section{
    width: 1100px;
    margin: 0px auto;
    padding: 50px 0px;
}
.letest-video-parent{
    display: flex;
    justify-content: space-between;
}
.letest-video-text{
    color: #04AA6D;
    font-size: 25px;
    font-weight: bold;
}
.letest-page{
    color: #04AA6D; 
}
.letest-page span{
    color: black;
    background-color: antiquewhite;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #8080805b;
    margin: 0px 10px;
    cursor: pointer;
}